{{ define "about" }}

{{ if not .Partial }}
{{ template "header" }}
{{ end }}

<div>
    <h1 class="display-4">About</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tincidunt ante eu erat tincidunt porta. Donec sagittis pharetra nulla, quis laoreet purus vulputate sed. Nulla vel pretium erat. Donec pellentesque arcu venenatis, aliquet ipsum quis, varius erat. Mauris ullamcorper tincidunt ipsum, sit amet pharetra orci congue sed. Praesent at nisi commodo, ullamcorper magna nec, ullamcorper lorem. Nullam eget risus dui. Aliquam ante metus, sodales ut laoreet et, volutpat ut justo. Quisque imperdiet nisl id tristique pharetra. Morbi id libero et nunc rhoncus malesuada. Aliquam mattis massa condimentum sodales luctus. Quisque sollicitudin at purus a eleifend. Nullam vel placerat risus. Vestibulum eu ultrices diam. Phasellus at nibh felis.
    </p>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tincidunt ante eu erat tincidunt porta. Donec sagittis pharetra nulla, quis laoreet purus vulputate sed. Nulla vel pretium erat. Donec pellentesque arcu venenatis, aliquet ipsum quis, varius erat. Mauris ullamcorper tincidunt ipsum, sit amet pharetra orci congue sed. Praesent at nisi commodo, ullamcorper magna nec, ullamcorper lorem. Nullam eget risus dui. Aliquam ante metus, sodales ut laoreet et, volutpat ut justo. Quisque imperdiet nisl id tristique pharetra. Morbi id libero et nunc rhoncus malesuada. Aliquam mattis massa condimentum sodales luctus. Quisque sollicitudin at purus a eleifend. Nullam vel placerat risus. Vestibulum eu ultrices diam. Phasellus at nibh felis.
    </p>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tincidunt ante eu erat tincidunt porta. Donec sagittis pharetra nulla, quis laoreet purus vulputate sed. Nulla vel pretium erat. Donec pellentesque arcu venenatis, aliquet ipsum quis, varius erat. Mauris ullamcorper tincidunt ipsum, sit amet pharetra orci congue sed. Praesent at nisi commodo, ullamcorper magna nec, ullamcorper lorem. Nullam eget risus dui. Aliquam ante metus, sodales ut laoreet et, volutpat ut justo. Quisque imperdiet nisl id tristique pharetra. Morbi id libero et nunc rhoncus malesuada. Aliquam mattis massa condimentum sodales luctus. Quisque sollicitudin at purus a eleifend. Nullam vel placerat risus. Vestibulum eu ultrices diam. Phasellus at nibh felis.
    </p>
</div>

{{ if not .Partial }}
{{ template "footer" }}
{{ end }}

{{ end }}
