{{ define "header" }}
<html>

<head>
    <title>go-htmx</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>

<body>
    <header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-body border-bottom shadow-sm">
        <p class="h5 my-0 me-md-auto fw-normal"><a href="/">go-htmx</a></p>
        <nav class="my-2 my-md-0 me-md-3">
            <a class="p-2 text-dark" hx-get="/" hx-target="#content" hx-push-url="true" href="/">Home</a>
            <a class="p-2 text-dark" hx-get="/about" hx-target="#content" hx-push-url="true" href="/about">About</a>
            <a class="p-2 text-dark" hx-get="/contact" hx-target="#content" hx-push-url="true"
                href="/contact">Contact</a>
        </nav>
    </header>

    <main class="container">
        <div id="content">
            {{ end }}
